.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}

.jugadas {
    display: none;
}

.jugadas__title {
    text-align: center;
}
.jugadas__botones {
    margin: 25px 0;
    display: flex;
    gap: 25px;
}

.juego {
    display: flex;
    gap: 25px;
}
